body 
{
    font-size: 36px;
}
h1 {
    font-size: 72px;
    margin: 0; 
}
ul, li
{
    font: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: azure;
    margin-left: 20px;
}

#header {
    height: 20%;
    font: 50px;
    margin: 0;
    padding: 25px;
    background-color: #ffb233;
}
#sidebar {
    position: relative;
    top: 0px;
    bottom: 0px;
    float: left;
    width: 25%;
    padding: 10px;
    background-color: #b30000;
    font-size: 50px;
};
.content {
    margin: 10px 5px 20px 25%;
    padding: 10px;
}
#footer
{
    height: 10%;
    padding: 15px;
    clear: left; 
    background-color: #b30000;
}
img
{
    width: 1250px;
    height: 750px;
}
span 
{ background-color: white; }

div.subclass > span {
  background-color: DodgerBlue;
}
b + i {
    color: red;
}